<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>editStudent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">editStudent</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-card-title>Edit Student</ion-card-title>
    <ion-card-content>
      <ion-input type="text" [(ngModel)]="studentName" placeholder="Name"></ion-input>
      <ion-input type="text" [(ngModel)]="studentAge" placeholder="Age"></ion-input>
      <ion-input type="text" [(ngModel)]="studentAddress" placeholder="Address"></ion-input>
      <!-- <ion-button (click)="editRecord(item.id)" expand="full" color="success">Guardar</ion-button> -->
      <ion-button  shape="round" fill="outline" expand="full" routerLink="/home">Regresar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

